* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* if using custom fonts uncomment the following */

@font-face {
	font-family: "Megrim";
	src: url("./dist/Assets/Fonts/Megrim-Regular.ttf");
	font-weight: 500;
	font-style: normal;
}

.fontLoader {
	position: absolute;
	left: -1000px;
	visibility: hidden;
}

body {
	background-color: #232323;
}
